.usersWrapper {
  width: 80%;
  margin: 0 auto;
}
.usersContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 450px;
  margin: 0 auto;
  margin-top: 15px;
}
.userCard {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 15px;
  align-items: center;
  box-shadow: 1px 2px 12px -2px rgb(119, 119, 119);
}
.timeStyle {
  font-style: italic;
}

@media (max-width: 520px) {
  .usersWrapper {
    width: 95%;
  }
  .usersContainer {
    width: 92%;
  }
  .userCard {
    flex-direction: column;
    height: 80px;
  }
}
