.aboutPage {
  width: 45%;
  margin: 0 auto;
  box-shadow: 1px 2px 12px -2px rgb(119, 119, 119);
  margin-top: 20px;
  height: 290px;
}
.authorWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 85%;
  justify-items: center;
  margin: 0 auto;
  font-size: 1.1rem;
}
.itemFirstcolumn {
  justify-self: flex-end;
}
.itemSecondcolumn {
  justify-self: flex-start;
}

a {
  text-decoration: none;
}
.avatar {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
@media (max-width: 520px) {
  .aboutPage {
    width: 95%;
  }
  .authorWrapper {
    width: 90%;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 15px;
    font-size: 0.9rem;
  }
  .itemFirstcolumn {
    justify-self: center;
  }
  .itemSecondcolumn {
    justify-self: flex-start;
  }
}
