.headerContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  background-color: #e1e1e3;
  align-items: center;
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navItemContainer {
  display: flex;
  margin-right: 30px;
}
.navItem {
  color: #ffffff;
  text-decoration: none;
}
